@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

/* Navbar */
.container {
  padding: 50px;
  width: 100%;
  background-color: #eaeaea;
}

.nav-brand {
  display: flex;
  flex: 1;
  align-items: center;
}

.logo {
  font-size: 23px;
  font-weight: 600;
  color: #1d1d1d;
}

.nav-link {
  display: flex;
  flex: 1.5;
  justify-content: space-between;
  align-items: center;
}
